@use "./variables.scss" as constants;
@import url("https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-color: constants.$main-bg;
  color: constants.$text-color;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    .contentContainer {
      width: 100%;
      flex-grow: 1;
      margin-top: 110px;
    }
  }
}

h1 {
  font-size: 4em;
  margin-block: -15px;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.86em;
}

h4 {
  font-size: 1.2em;
}

.oregano-regular {
  font-family: "Oregano", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}
