@use "../../styles/variables.scss" as constants;

.contact {
  text-align: center;
  min-height: 100vh;
  h1 {
    padding-top: 55px;
    padding-inline: 15px;
    font-size: 4.4em;
  }
  span {
    padding-inline: 15px;
    font-weight: 400;
    font-size: 2.4em;
    display: block;
    margin-top: 15px;
  }
  .contact-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      text-align: center;
      p {
        margin: 25px;
        padding: 10px 20px;
        border: 2px solid constants.$text-color;
        border-radius: 10px;
        font-size: 1.9em;
        backdrop-filter: blur(10px);
      }
      a {
        color: constants.$text-color;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 3em;
      line-height: 1em;
    }
    span {
      margin-top: 30px;
      font-size: 1.7em;
    }
    .contact-info {
      .text {
        p {
          font-size: 1.4em;
        }
      }
    }
  }
}
