.short-description {
  margin-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    font-size: 2em;
    width: 650px;
    text-align: center;
  }
}
